* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 60px; /* 這樣就能為 nav 留出空間，避免覆蓋頁面內容 */
    height: 100%;
    background-color: rgb(212, 239, 255);
    background-size: cover; /* 背景圖片覆蓋整個頁面 */
}
.box {
    opacity: 0; /* 預設隱藏 */
    transform: translateX(-100px); /* 向左移動 100px */
    transition: all 1.2s ease-in-out;
}
.show {
    opacity: 1; /* 變成可見 */
    transform: translateX(0); /* 回到原始位置 */
}

/*
.container {
    display: flex;
    gap: 10px;
}*/
/* 頁首樣式 */
header {
    color: white;
    text-align: center;
}
/* 頂部包含LOGO與導航列的區域 */
/* 漢堡選單按鈕 (預設隱藏) */
.menu-icon {
    font-size: 30px;
    color: white;
    display: none;
    cursor: pointer;
}

.topbar {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;          /* 從左邊開始 */
    width: 100%;      /* 佔滿整個寬度 */
    background-color: #333;  /* 背景顏色 */
    color: white;     /* 文字顏色 */
    z-index: 1000;    /* 確保在其他元素之上 */
}
/* LOGO部分 */
.logo {
    position: absolute;
    left: 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
/* 導航列樣式 */
nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end; /* 使導航項目向右對齊 */
}
nav a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 24px;
    font-weight: 200;
}
nav a:hover {
    background-color: #ddd;
    color: black;
    text-decoration: underline;
    border-radius: 8px;
}
.nav-links {
    list-style: none;
    display: flex;
}
/* 頁腳樣式 */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    bottom: 0;

}

hr.titleline {
    width: 900px; 
    height: 3px; 
    background-color: #333; 
    border: none; 
    margin: 30px auto;
}

/* home-section 樣式 */
.s2 {
    height: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 80px 0 70px 0 ;
    padding: 0 10px 0 10px;
}
.show {
    opacity: 1; /* 顯示 */
    transform: translateX(0); /* 回到原本位置 */
}
.ss1 {
    position: relative;
    width: 50%;
    height: 100%;
    z-index: 2;
}
.ss1 h1{
    text-align: left;
    font-size: 80px;
    margin: 160px 0 0 50px;
    text-shadow: 3.5px 1.8px #777777;
}
.ss1 p{
    text-align: left;
    font-size: 45px;
    font-weight: 600;
    margin: 50px 0 0 55px;
    text-shadow: 3.5px 1.8px #bebebe;
}
.ss2 {
    width: 50%;
    height: 100%;
    padding: 0 50px 0 70px;
    z-index: 1;
    border-radius: 180px;
}
.social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem !important;
    margin-top: 1.7rem !important;
    justify-content: center;
}

.social a {
    color: #ffcc7f;
    font-size: 1.5rem !important;
    border: 2.5px solid #ffcc7f;
    border-radius: 50%;
    padding: .30rem;
    text-align: center;
    width: 100px !important;

}

.social a:hover {
    color: #ffcc7f;
    background-color: #ffffff;
    box-shadow: 0 0 20px #ffcc7f;
    transition: all .3s ease-in-out;
}

/*skill-section 樣式 */
.s3 {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin:10px 0 0 0;
}
.S-title {
    width: 100%;
    height: auto;
    margin:180px 0 20px 0;
}
.S-title h1{
    text-align: center;
    font-size: 80px;
    margin: 5px 0 5px 0;
    text-shadow:12px 12px 15px rgba(0, 0, 0, 0.4) ;
}
.ss3-1, .ss3-2, .ss3-3, .ss3-4 {
    position: relative;
    width: 25%;
    height: 100%;
    margin: auto;
    filter: grayscale(1);
    z-index: 2;
    transition: all 0.5s ease;
}
.ss3-1 .text {
    height: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
    border-radius: 50px;
}
.ss3-2 .text {
    height: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
    border-radius: 50px;
}

.ss3-3 .text{
    height: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
    border-radius: 50px;
}
.ss3-4 .text {
    height: 100%;
    position: relative;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    padding: 30px;
    opacity: 0;
    transition: opacity 0.6s ease;
    pointer-events: none;
    border-radius: 50px;
}


.active .text {
    opacity: 1;
    pointer-events: auto;
}

.text h2 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
}
.text li {
    font-size: 26px;
    margin-left: 20px;
    line-height: 2.5;
}
.text a {
    font-size: 18px;
    font-weight: 500;
    margin-top: 10px;
    display: inline-block;
}
.text a:hover {
    color: red;
    text-decoration: underline;
}
/* skill-section-2 樣式 */
.s3-1 {
    display: none;
}
.S-title2{
    display: none;
}
/* profile-section 樣式 */
.P-title{
    width: 100%;
    height: auto;
    margin:180px 0 10px 0;
}
.P-title h1{
    text-align: center;
    font-size: 80px;
    margin: 5px 0 5px 0;
    text-shadow:12px 12px 15px rgba(0, 0, 0, 0.4) ;
}
.s4 {
    height: 600px;
    margin: 40px 30px 80px 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.ss5 {
    position: relative;
    width: 30%;
    height: 100%;
    margin-right: 50px;
    padding: 15px 50px 15px 50px ;
    background-color: rgba(255, 255, 255, 0.959); /* 半透明背景 */
    backdrop-filter: blur(10px); /* 模糊效果 */
    box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: 3px solid #000000;
    z-index: 1;
}

.ss6 {
    position: relative;
    width: 30%;
    height: 100%;
    margin-right: 50px;
    padding: 15px 50px 15px 50px ;
    background-color: rgba(255, 255, 255, 0.959); /* 半透明背景 */
    backdrop-filter: blur(10px); /* 模糊效果 */
    box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: 3px solid #000000;
    z-index: 1;
}
.ss7 {
    position: relative;
    width: 30%;
    height: 100%;
    padding: 15px 50px 15px 50px ;
    background-color: rgba(255, 255, 255, 0.959); /* 半透明背景 */
    backdrop-filter: blur(10px); /* 模糊效果 */
    box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    border: 3px solid #000000;
    z-index: 1;
}
.ss5 img,
.ss6 img, 
.ss7 img {
    position: relative;
    width: 100%;
    height: 45%;
    object-fit: cover;
    border-radius: 50%;
}
.ss5 .text,
.ss6 .text,
.ss7 .text {
    position: relative;
    height: 40%;
    background-color: #ebebeb;
    margin-top: 80px;
    padding: 20px 0 0 15px;
    line-height: 30px;
    word-wrap: normal;
    border-radius: 15px;
}
.ss5 h3,
.ss6 h3,
.ss7 h3{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1px;
}
.ss5 li,
.ss6 li,
.ss7 li{
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 20px;
}

/* about-section 樣式 */
.A-title{
    width: 100%;
    height: auto;
    margin:180px 0 10px 0;
}
.A-title h1{
    text-align: center;
    font-size: 80px;
    margin: 5px 0 5px 0;
    text-shadow:12px 12px 15px rgba(0, 0, 0, 0.4) ;
}
.s5 {
    width: 100%;
    height: 660px;
    margin: 30px 0 0 0;
    padding: 50px 50px 50px 50px ;
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.897);
}
.ss8-1 {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px;
}
.ss8-2 {
    position: relative;
    width: 60%;
    height: 100%;
    padding: 50px 50px 50px 50px ;
    z-index: 1;
}
.ss8-2 h2 {
    padding: 15px 0 15px 0;
}
.ss8-2 p {
    font-size: 32px;
    font-weight: 800;
    word-wrap: break-word;
    line-height: normal;
}
/* 當視窗縮小時 (max-width: 1600px)*/
@media (max-width: 1600px) {
    /* 導航列樣式 */
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }
    hr.titleline {
        width: 80%; 
    }

    .ss1 {
        width: 100%;
    }
    .ss1 h1 {
        text-align: center;
        font-size: 60px;
        margin:160px 0 0 42px;
    }
    .ss1 p{
        text-align: center;
        font-size: 35px;
        margin: 50px 0 0 32px;
    }
    .ss2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        height: 100%;
        display: none;
    }
    .ss2 img{
        width: 100px;
        height: 100px;
        display: none;
    }
    .s3 {
        display: none;
    }
    /* skill-section-2 樣式 */
    .S-title {
        display: block;
        width: 100%;
        height: auto;
        margin:90px 0 10px 0;
    }
    .S-title h1 {
        text-align: center;
        font-size: 62px;
        margin: 5px 0 5px 0;
        text-shadow:12px 12px 15px rgba(0, 0, 0, 0.4) ;
    }
    .s3-1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin:10px 0 100px 0;
        overflow: hidden;
    }
    .ss3-1-1 .text-1{
        width: 100%;
        height: 25%;
        position:relative;
        background-color: rgba(255, 255, 255, 0.589);
        margin: 15px 0 0 0 ;
        padding: 15px;
        border-radius: 50px;
    }
    .ss3-2-2 .text-1{
        width: 100%;
        height: 25%;
        position:relative;
        background-color: rgba(255, 255, 255, 0.589);
        margin: 15px 0 0 0 ;
        padding: 15px;
        border-radius: 50px;
    }
    .ss3-3-3 .text-1{
        width: 100%;
        height: 25%;
        position:relative;
        background-color: rgba(255, 255, 255, 0.589);
        margin: 15px 0 0 0 ;
        padding: 15px;
        border-radius: 50px;
    }
    .ss3-4-4 .text-1{
        width: 100%;
        height: 25%;
        position:relative;
        background-color: rgba(255, 255, 255, 0.589);
        margin: 15px 0 0 0 ;
        padding: 15px;
        border-radius: 50px;
    }
    .text-1 h2 {
        font-size: 30px;
        font-weight: 600;
    }
    .text-1 li {
        position: relative;
        font-size: 26px;
        margin-left: 50px;
        line-height: 40px;
        font-weight: 500;
    }
    
    .text-1 a {
        font-size: 19px;
        font-weight: 500;
        margin: 5px 0 5px 50px;
    }
    .text-1 a:hover {
        color: rgb(255, 0, 0);
        text-decoration: underline;
    }
    /* profile-section 樣式 */
    .P-title {
        display: block;
        width: 100%;
        height: auto;
        margin:90px 0 10px 0;
    }
    .P-title h1 {
        text-align: center;
        font-size: 62px;
        margin: 5px 0 5px 0;
        text-shadow:12px 12px 15px rgba(0, 0, 0, 0.4) ;
    }
    .s4 {
        height: auto;
        margin: 8px 10px 8px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ss5 {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 15px 0 0 0;
        padding: 15px 50px 15px 50px ;
        background-color: rgba(255, 255, 255, 0.959); /* 半透明背景 */
        backdrop-filter: blur(10px); /* 模糊效果 */
        box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        border: 3px solid #000000;
        z-index: 1;
    }

    .ss6 {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 15px 0 0 0;
        padding: 15px 50px 15px 50px ;
        background-color: rgba(255, 255, 255, 0.959); /* 半透明背景 */
        backdrop-filter: blur(10px); /* 模糊效果 */
        box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        border: 3px solid #000000;
        z-index: 1;
    }
    .ss7 {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 15px 0 0 0;
        padding: 15px 50px 15px 50px ;
        background-color: rgba(255, 255, 255, 0.959); /* 半透明背景 */
        backdrop-filter: blur(10px); /* 模糊效果 */
        box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        border: 3px solid #000000;
        z-index: 1;
    }
    .ss5 img,
    .ss6 img, 
    .ss7 img {
        position: relative;
        width: 100%;
        height: 40%;
        object-fit: cover;
        border-radius: 50%;
    }
    .ss5 .text,
    .ss6 .text,
    .ss7 .text {
        position: relative;
        height: 45%;
        background-color: #ebebeb;
        margin-top: 40px;
        padding: 20px 0 0 15px;
        line-height: 30px;
        word-wrap: normal;
    }
    .ss5 li,
    .ss6 li,
    .ss7 li{
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    /* about-section 樣式 */
    .A-title {
        display: block;
        width: 100%;
        height: auto;
        margin:90px 0 10px 0;
    }
    .A-title h1 {
        text-align: center;
        font-size: 62px;
        margin: 5px 0 5px 0;
        text-shadow:12px 12px 15px rgba(0, 0, 0, 0.4) ;
    }
    .s5 {
        width: 100%;
        height: auto;
        margin: 50px 0 0 0;
        padding: 50px 50px 50px 50px ;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.897);
    }
    .ss8-1 {
        width: auto;
        /*height: auto;*/
        /*display: none;*/
        overflow: hidden;
        object-fit: contain;
    }

    .ss8-2 {
        position: relative;
        width: 100%;
        height: 50%;
        padding: 5px 5px 5px 5px ;

        z-index: 1;
    }
    .ss8-2 h2 {
        text-align: center;
        padding: 15px 0 15px 0;
    }
    .ss8-2 p {
        font-size: 10px;
        font-weight: 200;
        word-wrap: break-word;
        line-height: normal;
    }

}

/* 當視窗縮小時 (max-width: 450px)*/
@media (max-width: 450px) {
    /* 導航列樣式 */
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }
    .titleline {
        width: auto;
    }

    .ss1 {
        width: 100%;
        height: auto;
        border-radius: 100px;
    }
    .ss1 h1 {
        text-align: center;
        font-size: 42px;
        margin:160px 0 0 42px;
    }
    .ss1 p{
        text-align: center;
        font-size: 25px;
        margin: 50px 0 0 32px;
    }
    .ss2 {
        display: none;
    }
    .ss2 img{
        display: none;
    }
    /* skill-section-2 樣式 */
    .s3 {
        display: none;
    }
    .S-title {
        display: block;
        width: 100%;
        height: auto;
        margin:90px 0 10px 0;
    }
    .S-title h1 {
        text-align: center;
        font-size: 46px;
        margin: 5px 0 5px 0;
        text-shadow:12px 12px 15px rgba(0, 0, 0, 0.4) ;
    }
    .s3-1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin:10px 0 100px 0;
        overflow: hidden;
    }
    .ss3-1-1 .text-1{
        width: 100%;
        height: 25%;
        position:relative;
        background-color: rgba(255, 255, 255, 0.589);
        margin: 15px 0 0 0 ;
        padding: 15px;
        border-radius: 20px;
    }
    .ss3-2-2 .text-1{
        width: 100%;
        height: 25%;
        position:relative;
        background-color: rgba(255, 255, 255, 0.589);
        margin: 15px 0 0 0 ;
        padding: 15px;
        border-radius: 20px;
    }
    .ss3-3-3 .text-1{
        width: 100%;
        height: 25%;
        position:relative;
        background-color: rgba(255, 255, 255, 0.589);
        margin: 15px 0 0 0 ;
        padding: 15px;
        border-radius: 20px;
    }
    .ss3-4-4 .text-1{
        width: 100%;
        height: 25%;
        position:relative;
        background-color: rgba(255, 255, 255, 0.589);
        margin: 15px 0 0 0 ;
        padding: 15px;
        border-radius: 20px;
    }
    .text-1 h2 {
        font-size: 30px;
        font-weight: 600;
    }
    .text-1 li {
        position: relative;
        font-size: 26px;
        margin-left: 50px;
        line-height: 40px;
        font-weight: 500;
    }
    
    .text-1 a {
        font-size: 19px;
        font-weight: 500;
        margin: 5px 0 5px 50px;
    }
    .text-1 a:hover {
        color: rgb(255, 0, 0);
        text-decoration: underline;
    }
    /* profile-section 樣式 */
    .P-title {
        width: 100%;
        height: auto;
        margin:90px 0 10px 0;
    }
    .P-title h1 {
        text-align: center;
        font-size: 46px;
        margin: 5px 0 5px 0;
        text-shadow:12px 12px 15px rgba(0, 0, 0, 0.4) ;
    }
    .s4 {
        height: auto;
        margin: 8px 10px 8px 10px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .ss5 {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 15px 0 0 0;
        padding: 15px 50px 15px 50px ;
        background-color: rgba(255, 255, 255, 0.959); /* 半透明背景 */
        backdrop-filter: blur(10px); /* 模糊效果 */
        box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        border: 3px solid #000000;
        z-index: 1;
    }

    .ss6 {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 15px 0 0 0;
        padding: 15px 50px 15px 50px ;
        background-color: rgba(255, 255, 255, 0.959); /* 半透明背景 */
        backdrop-filter: blur(10px); /* 模糊效果 */
        box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        border: 3px solid #000000;
        z-index: 1;
    }
    .ss7 {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 15px 0 0 0;
        padding: 15px 50px 15px 50px ;
        background-color: rgba(255, 255, 255, 0.959); /* 半透明背景 */
        backdrop-filter: blur(10px); /* 模糊效果 */
        box-shadow: 12px 12px 15px rgba(0, 0, 0, 0.4);
        display: flex;
        flex-direction: column;
        border: 3px solid #000000;
        z-index: 1;
    }
    .ss5 img,
    .ss6 img, 
    .ss7 img {
        position: relative;
        width: 100%;
        height: 40%;
        object-fit: cover;
        border-radius: 50%;
    }
    .ss5 .text,
    .ss6 .text,
    .ss7 .text {
        position: relative;
        height: 45%;
        background-color: #ebebeb;
        margin-top: 20px;
        padding: 20px 0 0 15px;
        line-height: 30px;
        word-wrap: normal;
    }
    .ss5 li,
    .ss6 li,
    .ss7 li{
        position: relative;
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    /* about-section 樣式 */
    .A-title {
        width: 100%;
        height: auto;
        margin:90px 0 10px 0;
    }
    .A-title h1 {
        text-align: center;
        font-size: 46px;
        margin: 5px 0 5px 0;
        text-shadow:12px 12px 15px rgba(0, 0, 0, 0.4) ;
    }
    .s5 {
        width: 100%;
        height: auto;
        margin: 50px 0 0 0;
        padding: 50px 50px 50px 50px ;
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 255, 255, 0.897);
    }
    .ss8-1 {
        width: auto;
        /*height: auto;*/
        /*display: none;*/
        overflow: hidden;
        object-fit: contain;
    }

    .ss8-2 {
        position: relative;
        width: 100%;
        height: 50%;
        padding: 5px 5px 5px 5px ;

        z-index: 1;
    }
    .ss8-2 h2 {
        text-align: center;
        padding: 15px 0 15px 0;
    }
    .ss8-2 p {
        font-size: 10px;
        font-weight: 200;
        word-wrap: break-word;
        line-height: normal;
    }

}


